<!doctype html>
<!-- vim: set ts=2 sw=2 ft=html: -->
<meta charset="utf-8">
<meta name="viewport" content="width=700">

<meta name="keywords" content="research, neuroscience, purdue, colleague, papers">
<meta name="description" content="Amy Brewster Lab Site">
<meta name="author" content="David Rio">

<meta http-equiv="Cache-Control" content="no-store"/>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style> @import url('css/style.css'); </style>

<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<title>Brewster Lab</title>

{% include 'header.html' %}

<div id="content">
  {{content}}
</div>


{% include 'footer.html' %}
