* {
  outline: 0px solid red;
}

html {
}

body {
  font: 16px/1.5em "Avenir Next", "Helvetica Neue", Helvetica, sans-serif;
  background: white;
}

.container {
	max-width: 900px;
}

.page-header {
 	outline: 0px solid black;
  padding-top: 10px;
  padding-bottom: 15px;
  margin: 0px 0 20px;
	border-bottom: 0px;
	margin-bottom: 5px;
}

.title-links {
  outline: 0px solid green;
}

.title {
  font-size: 20px;
  padding-top: 0px;
}

.purdue-logo {
  height: 35px;
}

.links {
  font-size: 14px;
  padding-top: 0px;
}

.links a {
  padding-right: 5px;
  color: #B1946C;
  text-decoration: none;
  font-weight: bold;
}

.links a:hover {
  font-weight: bold;
}

.index-image {
  height: 300px;
  background-image: url('/img/library-sweeden.png');
  background-size: cover;
  -webkit-background-size: cover;
  background-position: center 20%;
  border-bottom: 0px solid #ddd;
}

.container-index {
	padding-top: 10px;
}

.research-title, .contact-title {
  padding-bottom: 10px;
  color: #B1946C;
  font-weight: bold;
	font-size: 20px;
}

.index-title {
	padding-top: 30px;
}

.contact-entry {
  display: block;
  padding: 2px;
}

.copyright {
	padding-top: 15px;
  outline: 0px solid red;
  font-size: 12px;
  float: right;
}

.member-entry {
	padding-top: 20px;
	padding-bottom: 20px;
}

.member-image {
  outline: 0px solid red;
  display: flex;
  padding: 10px;
}

.member-bio {
  outline: 0px solid red;
  padding: 20px;
  padding-left: 50px;
}

.class-header {
  outline: 0px solid red;
  padding-top: 10px;
}

.class-id {
  font-size: 25px;
  font-weight: bold;
}

.class-name {
  font-size: 25px;
  font-weight: medium;
}

.class-description {
  outline: 0px solid red;
  padding-top: 10px;
	padding-bottom: 20px;
}

.pub-section {
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 20px;
}

.pub-year {
  font-size: 20px;
  font-weight: bold;
}

.pub-title {
  padding-top: 10px;
  font-size: 20px;
  font-weight: medium;
  /*color: #B1946C;*/
}

.pub-authors, .pub-journal {
  padding-top: 5px;
  font-size: 15px;
  font-weight: medium;
}


