<div class="containers_members_one">
  <section class="member_entry member_entry_second">
    <div class="member_bio">
      Lorem ipsum dolor sit amet, verterem accusamus delicatissimi no mel. Et legimus
      ancillae sit. Qui in purto legere tempor, nec quod eros definitiones ad.
      corpora oporteat, eum exerci invidunt id. Error laboramus his at, id stet
      option eruditi vel, eam ea nusquam pertinax. Sint agam incorrupte ut quo. Pro
      cu doming disputationi.
    </div>
    <div class="member_image"><img src="/img/members/david-rio.png" alt=""></div>
  </section>
</div>
