<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>{{ .Title }} - Chimera Art Space</title>
    <link href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <!-- <script type="text/javascript" src="//use.typekit.net/sxc8efr.js"></script> -->
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body lang="en">
    <div class="container">
      {{ template "menu.html" . }}
    </div>
