{{ template "header.html" . }}

<div class="index-image"></div>

<div class="container container-index">

	<div class="row research-title index-title">Research Interests</div>

	<div class="row"> {{$.Site.Data.amyinfo.rinterests}} </div>

	<div class="row contact-title index-title">Contact</div>

	<div class="row contact-text">
		<span class="contact-entry"> {{$.Site.Data.amyinfo.title }}</span>
		<span class="contact-entry"> {{$.Site.Data.amyinfo.department }}</span>
		<span class="contact-entry"> {{$.Site.Data.amyinfo.address }}  </span>
		<span class="contact-entry"> {{$.Site.Data.amyinfo.building }} </span>
		<span class="contact-entry"> ✉ {{$.Site.Data.amyinfo.email}} | ☎ {{$.Site.Data.amyinfo.phone}} </span>
	</div>

</div>

<!--
<hr>
{{ range where .Data.Pages "Type" "members" }}
  <p>{{ .Params.name }}
  <p>{{ .Params.bio }}
  <hr>
{{ end }}
-->

{{ template "footer.html" . }}
