<header>
  <div class="container">
    <!-- <img class="logo" src="imgs/minion.jpg" alt="minion"> -->
    <img class="logo" width="15%" src="imgs/purdue.svg" alt="purdue">
    <div id="title">Brewster Lab</div>
    <div class="navigation">
        <a class="first_link" href="index.html">Home</a>
        <a class="center_link" href="people.html">People</a>
        <a class="center_link" href="teaching.html">Teaching</a>
        <a class="last_link" href="publications.html">Publications</a>
    </div>
  </div>
</header>
