<!-- vim: set ts=2 sw=2 et ft=html: -->

<div id="home">
<div id="amy-image">
  <img src="imgs/amy.jpg" alt="Amy Brester">
</div>

<div id="research">
    My general research interests are to study mechanisms that underlie
molecular and structural dendritic alterations, seizures, and behavioral
deficits in epilepsy.  My general research interests are to study mechanisms
that underlie molecular and structural dendritic alterations, seizures, and
behavioral deficits in epilepsy.  My general research interests are to study
mechanisms that underlie molecular and structural dendritic alterations,
seizures, and behavioral deficits in epilepsy.  My general research interests
are to study mechanisms that underlie molecular and structural dendritic
alterations, seizures, and behavioral deficits in epilepsy.
</div>
        
<div id="contact">
<p> 
<img width="5%" src="imgs/purdue.svg" alt="purdue">
Assistant Professor, Behavioral Neuroscience

<div id="address">
<p> Department of Psychological Sciences
<p> 703 Third Street, West Lafayette, IN 47907-2081 USA
</div>

<p>
Psychological Sciences, Room 1144

<p>
abrewst@purdue.edu | (765) 494-5075

</div>

</div>
