<div id="amy-image">
  <img src="imgs/amy.jpg" alt="Amy Brester">
</div>

<div id="research">
        My general research interests are to study mechanisms that underlie
    molecular and structural dendritic alterations, seizures, and behavioral
    deficits in epilepsy.  My general research interests are to study mechanisms
    that underlie molecular and structural dendritic alterations, seizures, and
    behavioral deficits in epilepsy.  My general research interests are to study
    mechanisms that underlie molecular and structural dendritic alterations,
    seizures, and behavioral deficits in epilepsy.  My general research interests
    are to study mechanisms that underlie molecular and structural dendritic
    alterations, seizures, and behavioral deficits in epilepsy.
</div>

<div id="contact">
    CONTACT here.
</div>

