<!-- vim: set ts=2 sw=2 et ft=html foldmethod=indent: -->

<div id="home">
<div id="amy-image">
  <img src="imgs/amy.jpg" alt="Amy Brester">
</div>

<div id="research">
  <p class="extra"> Research interests
  <p> My general research interests are to study mechanisms that underlie
  molecular and structural dendritic alterations, seizures, and behavioral
  deficits in epilepsy.  My general research interests are to study mechanisms
  that underlie molecular and structural dendritic alterations, seizures, and
  behavioral deficits in epilepsy.  My general research interests are to study
  mechanisms that underlie molecular and structural dendritic alterations,
  seizures, and behavioral deficits in epilepsy.  My general research interests
  are to study mechanisms that underlie molecular and structural dendritic
  alterations, seizures, and behavioral deficits in epilepsy.
</div>
        
<div id="contact">
  <p class="extra"> Contact
  <p> 
  Assistant Professor, Behavioral Neuroscience

  <div id="address">
  <p> Department of Psychological Sciences
  <p> 703 Third Street, West Lafayette, IN 47907-2081 USA
  </div>

  <p>
  Psychological Sciences, Room 1144

  <p>
  ✉ abrewst@purdue.edu | ☎ (765) 494-5075
</div>

<section>
  <div id="news_main_title">News</div>
  {{news}}
</section>

</div>
