<div class="row member-entry">
  <div class="member-image col-md-3"><img src="/img/members/amy-brewster.png" alt=""></div>
  <div class="member-bio col-md-8">
    Lorem ipsum dolor sit amet, verterem accusamus delicatissimi no mel. Et legimus
    ancillae sit. Qui in purto legere tempor, nec quod eros definitiones ad.
    corpora oporteat, eum exerci invidunt id. Error laboramus his at, id stet
    option eruditi vel, eam ea nusquam pertinax. Sint agam incorrupte ut quo. Pro
    cu doming disputationi.
  </div>
</div>
