<div class="containers_members_two">
<section class="member_entry member_entry_first">
  <div class="member_image"><img src="/img/members/amy-brewster.png" alt=""></div>
  <div class="member_bio">
    Lorem ipsum dolor sit amet, verterem accusamus delicatissimi no mel. Et legimus
    ancillae sit. Qui in purto legere tempor, nec quod eros definitiones ad.
    Recteque maluisset expetendis cum ea, facer senserit duo at. Has alia graeci
    at, magna paulo eu sea. Ut cum utinam voluptatum, iusto probatus hendrerit sea
    ea.  Soleat quodsi molestiae no per. Et feugait luptatum repudiare mel, est ne
    ipsum disputationi, vel labore expetenda at. Sit in reque choro, sit an sale
    corpora oporteat, eum exerci invidunt id. Error laboramus his at, id stet
    option eruditi vel, eam ea nusquam pertinax. Sint agam incorrupte ut quo. Pro
    cu doming disputationi.
  </div>
</section>
</div>
